table {
  width: auto;
  border-collapse: collapse;
}
td, th {
  padding: 4px;
}
td.key {
  font-weight: bold;
}

tr.rendered {
  display: table-row;
  vertical-align: top;
}
tr.rendered:nth-child(odd) {
  background: rgb(240, 240, 240);
}
tr.values:nth-child(even), tr.author:nth-child(even) {
  background: rgb(220, 220, 220);
}

td.values:nth-child(1) { 
  width: 100%; 
}

td.deleted_values {
  width: 100%; 
  text-decoration: line-through;
}


td.author, td.date, td.time, td.revision { 
  white-space:nowrap; 
  border: 1px solid #999;
}

.pivot {
  border: 1px solid #999;
  width: auto;
  border-collapse: collapse;
}



.header-img {
  height: 30px;
  width: 30px;
}

.wi_type_icon {
  height: 14px;
  width: 14px;
}



header h1 {
  display: inline;
}

.title {
  font-size: large;
  font-weight: bold;
  margin-top:10px;
  margin-bottom:5px;
}

.loader_class {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 
